body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: -webkit-center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  position: relative;
  width: 300px;
  font-family: Arial, sans-serif;
}

.container>input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  overflow: auto;
}

.loading,
.error {
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.error {
  color: red;
}

.suggestions-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 10;
  max-height: 150px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style: none;

}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item.active {
  background-color: #f0f0f0;
}

.suggestion-item:hover,
.suggestion-item[aria-selected="true"] {
  background-color: #f0f0f0;
}